<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogRipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LogRipper.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDateFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss,fff</value>
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="DefaultForegroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Windows</value>
            </setting>
            <setting name="ShowMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RulePosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RulePosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MergePosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MergePosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListRulesPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListRulesPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBoxPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBoxPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DefaultListRules" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDateFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilePosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilePosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoFollowMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WrapLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubRulePosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubRulePosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigReloaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeInSystray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInSystray" serializeAs="String">
                <value>True</value>
            </setting>
        </LogRipper.Properties.Settings>
    </userSettings>
</configuration>